* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url(assets/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
}

:root {
    --padding: 20px;
    --gallery-gap: 50px;

    --content-width: 960px;

    --color-white: #f5f5f5;
    --color-black: #141414;
    --color-black-hover: #2d2d2d;

    --color-neon: #eeff00;

    --font-sans: "Inter", sans-serif;
    --font-headline: "mono45-headline", monospace;

    --font-size-headline: 3.5vmin;
    --font-size-copy: 20px;
    --font-size-ui: 16px;
}

body,
html {
    width: 100%;
    height: 100%;

    background: var(--color-white);
    color: var(--color-black);

    font-family: var(--font-sans);

    font-size: var(--font-size-ui);
}

h2 {
    font-size: var(--font-size-headline);
    font-family: var(--font-headline);
    letter-spacing: 0.5px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gallery-gap);
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-family: var(--font-headline);
    letter-spacing: 1px;
}

p {
    line-height: 1.75em;
    font-size: var(--font-size-copy);
}

.button {
    text-decoration: none;
    background: var(--color-black);
    padding: var(--padding);
    border-radius: 100px;
    color: var(--color-white);
    font-size: var(--font-size-ui);
    font-family: var(--font-sans);
    letter-spacing: 0;
    font-weight: normal;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    scale: 1;
}

.button:hover {
    scale: 1.05;
    rotate: -1deg;
    background: var(--color-black-hover)
}

/* Header */

header {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100px;
    padding: var(--padding) var(--gallery-gap);
    display: flex;
    justify-content: space-between;
    font-family: var(--font-headline);
    pointer-events: none;
}

header h1 {
    font-size: var(--font-size-headline);
}

#bam-logo {
    pointer-events: all;
}

#bam-logo svg {
    width: 30px;
}

#bam-logo svg * {
    fill: var(--color-black);
}

/* Intro */

#intro {
    width: 100vw;
    min-height: 100vh;
    background: var(--color-neon);
    padding: 0 var(--padding)
}

#intro-typo {
    height: 100vh;
    background: green;
    margin: 0 auto;
    background: url(assets/intro-typo-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3vh;
}

#intro-switch {
    width: auto;
    margin: 0 auto;
    height: 29vh;
    display: block;
    font-size: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    display: block;
    line-height: 0.8em;
    cursor: ew-resize !important;
}

#claim {
    padding: var(--gallery-gap);
    text-align: center;
    display: flex;
    gap: var(--padding);
    width: 100%;
    justify-content: center;
}

#claim span {
    padding: var(--padding);
    background: var(--color-black);
    color: var(--color-neon);
    border-radius: 100px;
    padding: 0.25em 0.75em;
    text-transform: uppercase;
    font-size: var(--font-size-headline);
}

/* Hero Image */

#hero-image {
    width: 100vw;
    height: 100vh;
    padding: var(--gallery-gap);
}

#hero-image .image {
    background: url(assets/image.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    padding: var(--padding);
}

#hero-image.event .image {
    background: var(--color-neon);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image.event .image .event-text {
    max-width: var(--content-width);
    width: 100%;
    height: auto;
}

#hero-image.event .image .event-text h3 {
    font-size: 10vmin;
   text-align: center;
    line-height: 0.8em;
    margin-bottom: var(--gallery-gap);
}

/* Description */

#description {
    padding: 200px 0;
}

p.text-content {
    max-width: var(--content-width);
    width: 100%;
    padding: 0 var(--padding);
    margin: 0 auto;
    font-size: var(--font-size-copy);
}

p.text-content svg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--gallery-gap);
    fill: var(--color-black);
    display: block;
    position: relative;
}

/* Gallery */

#posters h2 {
    position: sticky;
    top: calc(2*var(--padding) + var(--gallery-gap));
    z-index: 9;
    pointer-events: none;
}

#posters h2 a {
    pointer-events: all;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: var(--gallery-gap);
    padding: var(--gallery-gap);
    padding-bottom: 0;
}

#gallery .artwork {
    background: var(--background), var(--color-neon);
    aspect-ratio: 210 / 297;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    background-size: contain;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

#gallery .artwork:nth-child(2n) {
    rotate: 2deg;
}

#gallery .artwork:nth-child(3n+1) {
    rotate: -2deg;
}

#gallery .artwork:nth-child(4n+1) {
    rotate: -3deg;
}

#gallery .artwork:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    rotate: 0deg !important;
}

#gallery .artwork:hover {
    rotate: 0deg;
    scale: 1.1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#gallery .artwork a {
    width: 100%;
    height: 100%;
    background: #eeff00a3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    text-decoration: none;

    display: none;
}

#gallery .artwork .button {
    color: var(--color-neon);
}

#gallery .artwork .button:before {
    content: "Download "
}

#gallery .artwork:hover a {
    opacity: 1;
}


#gallery .artwork a span {
    translate: 0 100%;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    scale: 0.3;
}

#gallery .artwork:hover a span {
    translate: 0 0%;
    scale: 1;
}

#gallery .artwork:hover a span:hover {
    translate: 0 0%;
    scale: 1.1;
}

/* Instructions */

#instructions {
    padding: var(--gallery-gap);
}

/* More */

#more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--gallery-gap);
    gap: var(--gallery-gap);
    align-items: stretch;
    flex-direction: row;
}

.box {
    background: rgba(0, 0, 0, 0.05);
    flex: 1;
    padding: var(--gallery-gap);
    border-radius: 3px;
    position: relative;
    max-width: calc(100vw - 2*var(--gallery-gap));
}

.box h2 {
    padding: 0;
    margin-bottom: var(--padding);
}

#instructions {
    grid-column: 1 / 3;
}

.instructions {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: stretch;
}

.instructions-column {
    flex: 1 1 0;
}

.instructions-column h3 {
    margin-bottom: var(--gallery-gap);
}

.instructions-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: var(--gallery-gap);
    position: relative;
}

.instructions-image:before,
.instructions-image:after {
    content: "∷";
    position: absolute;
}

.instructions-image:before {

    left: 0;
    top: 0;
}

.instructions-image:after {
    bottom: 0;
    right: 0;
}

.instructions-image svg {
    height: 100%;
    width: 100%;

}

.instructions-image svg * {
    stroke-width: 1px !important;
    stroke-linecap: round !important;
    stroke: var(--color-black);
    fill: none;
    vector-effect: non-scaling-stroke;
}

*.paper {
    fill: var(--color-neon) !important
}

/* Demo Kit */

#order {
    background: var(--color-neon);

}

#kit {
    --grid-gap: 30px;
    display: grid;
    grid-template-columns: 1fr var(--grid-gap) 1fr var(--grid-gap) 1fr;
    gap: var(--padding);
    margin-top: var(--gallery-gap);
    --color-neon: var(--color-white);
}

#kit .kit-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--padding);
    text-align: center;
}

#kit .kit-column.plus {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kit .kit-column svg {
    height: 200px;
}

#kit .kit-column svg * {
    stroke-width: 1px !important;
    stroke-linecap: round !important;
    stroke: var(--color-black);
    fill: none;
    vector-effect: non-scaling-stroke;
}

.order-link {
    margin-top: 3em;
    text-align: center;
}

.order-link a {
    display: inline-block;
    text-align: center;
    color: var(--color-neon)
}

/* Social Media */

#social-media-templates {
    display: flex;
    gap: var(--gallery-gap);
    justify-content: stretch;
    flex-shrink: initial;
}

#social-media-templates .sm-column {
    flex-grow: 1;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    gap: var(--padding);
    flex-direction: column;
}

.social-media-stickers h3,
.instagram-story h3 {
    margin-bottom: var(--padding);
}

.sm-column.sticker {}

.sm-column.sticker img {
    display: block;
    height: calc(450px / 4 - (0.75 * var(--padding)));
}

.sm-column.story img {
    height: 450px;
}

/* Overlay */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-button {
    font-family: var(--font-headline);
    width: 100px;
    height: 100px;
    font-size: 1em;
    letter-spacing: 1px;
    background: var(--color-neon);
    aspect-ratio: 1 /1;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    rotate: -20deg;
}

.overlay-button:before {
    content: "Coming Soon"
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: var(--gallery-gap);
    padding-top: 0;
    color: rgba(0, 0, 0, 0.3);
    gap: var(--padding);
}

footer a {
    text-decoration: none;
    color: currentColor;
    border-bottom: 1px solid currentColor;
    transition: all .2s ease-in-out;
}

footer a:hover {
    color: var(--color-black);
}

/* Mobile */

@media only screen and (max-width: 1300px) {
    :root {
        --gallery-gap: 40px;
    }
}

@media only screen and (max-width: 1300px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    #more {

        grid-template-columns: 1fr;

        flex-direction: column;
    }

    #instructions {
        grid-column: 1 / 1;
    }

}

@media only screen and (max-width: 960px) {
    :root {
        --font-size-headline: 5vmin;
    }

    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
        padding: var(--padding)
    }

    #claim,
    .instructions,
    #social-media-templates,
    footer {
        flex-direction: column;
    }

    #hero-image,
    header {
        padding: var(--padding);
    }

    #more {
        padding: var(--padding);
        gap: var(--padding);
    }

    .box {
        max-width: calc(100vw - 2*var(--padding));
    }

    #kit {
        display: flex;
        flex-direction: column;
    }

    .button {
        padding: calc(0.5 * var(--padding)) var(--padding);
    }

    h2 {
        padding: 0 var(--padding);
    }
}


@media only screen and (max-width: 680px) {
    #gallery {
        grid-template-columns: 1fr;
    }

    .artwork {
        rotate: 0deg !important;
    }

    #gallery .artwork:nth-child(1) {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        rotate: 0deg !important;
    }

    #gallery .artwork:hover {

        scale: 0.9;

    }
}